<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !mockups
    RewriteRule    ^$ app/dist/    [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !mockups
    RewriteRule    (.*) app/dist/$1 [QSA,L]
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|xml|gz|svg)$">
    Header append Vary Accept-Encoding
  </FilesMatch>
</IfModule>