<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" data-ng-repeat="item in home.data.posts">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="panel-content" data-ng-click="home.openPost(item)">
                        <img src="{{item.url}}" alt="" title="{{item.title}}"/>
                        <hr>
                        <h2>
                            {{item.title}}
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
